<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>
<form action="/login.html" method="post">
    <div>
        <!-- 用户名键值默认为 username -->
        <input type="text" name="name" placeholder="input username" required/>
    </div>
    <div>
        <!-- 密码键值默认为 password -->
        <input type="password" name="pwd" placeholder="input password" required/>
    </div>
    <input type="submit">
</form>
</body>
</html>